/* PasswordInput.css */
.input-field {
    position: relative;
  }
  
  .input-field.focused .icon{
   color: #4070f4;
  }
  
  .input-field input {
    /* Your input styles */
  }
  
  .input-field .icon,
  .input-field .showHidePw {
    color: #999;
  }
  
  .input-field .icon.focused,
  .input-field .showHidePw.focused {
    color: #4070f4;
  }
  